[user]
	email = leif.bernsdorf@gmail.com
	name = leifb
[pull]
	rebase = true
[alias]
  b     = branch
  lg    = log --pretty=oneline -n 10
  st    = status
  co    = checkout
  graph = log --all --graph --oneline
